@import domain.git_activity.PushActivities
@import domain.git_activity.PushActivitySummary
@(gitEvents: PushActivities)
@wholeSummary = @{gitEvents.toSummary}

@main("Welcome to Play") {
  <div class="uk-section">
    <div class="uk-container uk-container-large">
      <div uk-grid>
        <div class="uk-width-1-2@@s uk-width-1-5@@m">
          <ul class="uk-nav uk-nav-default">
            <li class="uk-active"><a href="#">Gitアクティビティサマリー</a></li>
            <li><a href="#">Gitアカウント管理</a></li>
            <li><a href="#">SNSアカウント管理</a></li>
          </ul>
        </div>
        <div class="uk-width-1-2@@s uk-width-4-5@@m">
          <h1>サマリー</h1>
            <dl>
              <dt>全体</dt>
              <dt>プッシュ回数</dt>
              <dd>@wholeSummary.pushCount 回</dd>
              <dt>コミット回数</dt>
              <dd>@wholeSummary.commitsCount 回</dd>
              <dt>プッシュ1回あたりの平均コミット数</dt>
              <dd>@wholeSummary.commitsCountPerPush 回</dd>
            </dl>

          @for(activitiesEntry <- gitEvents.groupByRepository) {
            <dl>
              <dt>リポジトリ</dt>
              <dd>
                <a href="@activitiesEntry._1.url">
                  @activitiesEntry._1.repositoryId.value (@activitiesEntry._1.gitClientId.value)
                </a>
              </dd>
              @{
                val summary = activitiesEntry._2.toSummary
                <dt>Push回数</dt>
                <dd>{summary.pushCount} 回</dd>
                <dt>コミット回数</dt>
                <dd>{summary.commitsCount} 回</dd>
                <dt>プッシュ1回あたりの平均コミット数</dt>
                <dd>{summary.commitsCountPerPush} 回</dd>
             }
            </dl>
          }
        </div>
      </div>
    </div>
  </div>

}
